/* Сброс маркеров для списков */
ul,
li {
  list-style-type: none;
}

/* Стили для вложенных списков внутри элементов списка */
ul li ul li {
  width: 360px;
  padding: 8px 16px;
  margin: 8px 0;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* Стили для первого и последнего элемента в списке #categories */
#categories ul li:not(:first-child) {
  margin-top: 8px;
}

#categories ul li:not(:last-child) {
  margin-bottom: 8px;
}

/* Заголовки h2 */
h2 {
  padding: 16px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* Общие стили для элементов с классом .item */
.item {
  background-color: #f6f6fe;
  width: 392px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

/* Стили для вложенных списков внутри элементов с классом .item */
.item ul {
  padding: 0 16px 16px;
  margin-top: 0;
  text-align: left;
}

/* Стили для .item, исключая последний дочерний элемент */
#categories .item:not(:last-child) {
  margin-bottom: 24px;
}
